<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <client />
    <services>
      <service name="WCFServiceWebRole1.RedPill" behaviorConfiguration="RedPillService">
        <endpoint address="" binding="basicHttpBinding" contract="WCFServiceWebRole1.IRedPill" bindingConfiguration="BasicHttpBinding" name="BasicHttpBinding_IRedPill"></endpoint>
        <endpoint address="" binding="basicHttpBinding" contract="WCFServiceWebRole1.IRedPill" bindingConfiguration="BasicHttpsBinding" name="BasicHttpsBinding_IRedPill"></endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <protocolMapping>
      <add scheme="http" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" />
      <add scheme="https" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding"/>
    </protocolMapping>
    <bindings>
     
      <basicHttpBinding>
        <binding name="BasicHttpsBinding" allowCookies="false">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"></transport>
          </security>
        </binding>
        <binding name="BasicHttpBinding">
          <security mode="None"></security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="RedPillService">
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
    -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="metadata=res://*/CustomerMD.csdl|res://*/CustomerMD.ssdl|res://*/CustomerMD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WITC952712P1\SQLEXPRESS;initial catalog=CustomersDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DefaultConnection" connectionString="metadata=res://*/CustomerMD.csdl|res://*/CustomerMD.ssdl|res://*/CustomerMD.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:hdixthvn2o.database.windows.net,1433;Initial Catalog=amarghany_db;User Id=amarghani@hdixthvn2o;Password=Totyawald123&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>