<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRedPill" />
                <binding name="BasicHttpsBinding_IRedPill">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IRedPill1" />
                <binding name="BasicHttpsBinding_IRedPill1">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://knockknock.azurewebsites.net/RedPill.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRedPill1"
                contract="ReadifyService.IRedPill" name="BasicHttpBinding_IRedPill1" />
            <endpoint address="http://amcustomerscs.cloudapp.net/RedPill.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRedPill" contract="MyService.IRedPill"
                name="BasicHttpBinding_IRedPill" />
            <!--<endpoint address="https://localhost:44301/RedPill.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpsBinding_IRedPill" contract="MyService.IRedPill"
                name="BasicHttpsBinding_IRedPill" />-->
        </client>
    </system.serviceModel>
</configuration>